/* font-family: 'Roboto', sans-serif; */

:root {
    --main-blue: #2378FC;
    --main-green: #30BCC9;
    --main-iceCream: #FAF3E3;
    --main-yellow: #FFC41E;
    --main-red: #F6404F;  
    --main-white: #FFFFFF;
    --main-dark: #2E373B;
    --main-silver: #E0E0E0;
    --main-size-p: 14px;
    --main-size-h2: 30px;
    --main-size-h4: 21px;
    --main-font-w: 500;
    --main-letter-spacing-h4: -0.01em;
    --main-bg: url("../img/jpg/bgc-min.jpg") no-repeat center left / cover;
    --main-arrow: url("../img/svg/Arrow 1.svg") no-repeat center right;
    --main-arrow-dark: url("../img/svg/Arrow-dark.svg") no-repeat center right;
    --main-font: 'Roboto', sans-serif;
}

body {
   font-size: 16px;
   color: var(--main-dark); 
}

a {
    text-decoration: none;
    color: #fff;
}

ul , li {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.wrapper {
    padding: 33px 0 53px 0;
    background: var(--main-bg);
}

.link {
    background: var(--main-arrow);
    padding-right: 26px;
}

.link__dark {
    background: var(--main-arrow-dark);
    font-weight: var(--main-font-w);
    font-size: var(--main-size-h4);
    letter-spacing: var(--main-letter-spacing-h4);
    text-decoration-line: underline;
    color: #2E373B;
    padding-right: 40px;
}

/* header */
.header {
    border-bottom: 1px solid var(--main-white);
    padding-bottom: 33px;
}

.header-sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

.header__nav {
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu {
    display: flex;
}
.header__item {
    margin-right: 47px;
}
.header__item:last-child {
    margin-right: 0;
}

.header__search {
    width: 197px;
    background: transparent url("../img/svg/Search.svg") no-repeat center right;
    background-size: 20px;
    border: 0;
    margin-right: 45px;
    color: var(--main-white);
    padding: 10px 0 10px 0;
}
.header__language {
    background: url("../img/svg/Globe.svg") no-repeat center right;
    padding-right: 30px;
}
.header__menu-open {
    display: none;
    outline: none;
}
/* header */

/* intro */
.intro {
    margin-top: 184px;
}
.intro__title {
    font-size: 64px;
    text-transform: uppercase;
    color: var(--main-white);
    font-weight: bold;
}
.intro__content{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}
.content__desc {
    width: 540px;
}
.desc_name {
    font-size: 24px;
    color: var(--main-white);
    margin-bottom: 25px;
}

.content__info {
    width: 540px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}
.info__item {
    width: 255px;
    height: 148px;
}
.item-blue {
    background-color: var(--main-blue);
}
.item-green {
    background-color: var(--main-green);
}
.item-yellow {
    background-color: var(--main-yellow);
}
.item-red {
    background-color: var(--main-red);
}
.info__name {
    font-size: var(--main-size-h4);
    letter-spacing: var(--main-letter-spacing-h4);
    font-weight: var(--main-font-w);
    color: var(--main-white);
    padding-left: 30px;
}
.info__link {
    padding-left: 30px;
}

/* intro */

/* description */
.description {
    background-color: var(--main-blue);
}

.description__row {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
}

.description__block {
    margin: 75px 0;
}

.description__title {
    font-weight: var(--main-font-w);
    font-size: var(--main-size-h2);
    letter-spacing: var(--main-letter-spacing-h4);
    color: var(--main-white);
}

.description__menu {}

.description__item {
    margin-top: 15px;
}

.description__link {
    
}

.description__link_active {
    color: var(--main-yellow);
    text-decoration: underline;
}
/* description */

/* event */
.event {
    background-color: var(--main-yellow);
}
.event__row {
    padding-top: 75px;
    padding-bottom: 79px;
}
.event__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.event__title {
    font-weight: var(--main-font-w);
    font-size: var(--main-size-h2);
    letter-spacing: var(--main-letter-spacing-h4);
}
.event__cards {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.card__date {
    font-size: var(--main-size-p);
}
.card__subtitle {
    font-size: var(--main-size-h4);
    font-weight: var(--main-font-w);
    letter-spacing: var(--main-letter-spacing-h4);
    color: var(--main-red);
}
.card__desc {}
/* event */

/* news */
.news {
    background-color: var(--main-iceCream);
}
.news__row {
    padding-top: 75px;
    padding-bottom: 85px;
    display: flex;
}
.news__thumb {
    width: 445px;
}
.thumb__image:last-child {
    margin-top: 59px;
}
.news__info {
    margin-left: 125px;
    margin-top: 10px;
}
.info__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info__title {
    font-weight: var(--main-font-w);
    font-size: var(--main-size-h2);
    letter-spacing: var(--main-letter-spacing-h4);
    color: var(--main-dark);
}
.info__cards {
    display: flex;
    flex-flow: column wrap;
}
.info__card {
    display: flex;
    margin-top: 30px;
}
.info__desc {
    margin-left: 30px;
}
/* news */

/* footer */
.footer {
    background-color: var(--main-green);
    padding: 60px 0 70px 0;
}
.footer__row {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.footer__block {}
.footer__title {
    font-weight: var(--main-font-w);
    font-size: var(--main-size-h4);
    letter-spacing: var(--main-letter-spacing-h4);
    color: var(--main-white);
}
.footer__menu {}
.footer__menu_social {
    display: flex;
    align-items: center;
}
.footer__item {
    margin-top: 10px;
}
.footer__item_social {
    margin-right: 30px;
}

.footer__item_social:last-child {
    margin-right: 0;
}
.footer__link {
    color: var(--main-silver);
    font-size: var(--main-size-p);
}
.footer__group {
    display: flex;
}
.footer__search {
    width: 215px;   
    border: 0;
    color: var(--main-dark);
    padding: 10px;
    outline: none;
}

.footer__message {
    background: var(--main-red) url("../img/svg/message.svg") no-repeat center;
    width: 40px;
    height: 40px;
    border: 0;
} 
/* footer */
@media screen and (max-width: 1141px) {
    .header__menu, .header__help {
        display: none;
    }
    .header__menu-open {
        display: block;
        padding-right: 15px;
    }
    .header__logo {
        padding-left: 15px;
    }
    .event__cards {
        grid-template-columns: repeat(2,1fr);
    }
    .event__card {
        text-align: center;
    }
}

@media screen and (max-width: 961px) {
    .news__row {
        flex-wrap: wrap;
    }
    .news__thumb {
        width: 100%;
        text-align: center;
    }
    .news__info {
       margin: 0;
       width: 100%;
       text-align: center;
       margin-top: 50px;
    }
}


@media screen and (max-width: 769px) {
   .intro__title {
       text-align: center;
   }
   .intro__content {
       flex-wrap: wrap;
   }
   .content__desc {
       width: 100%;
       text-align: center;
   }
   .content__info {
       margin: 20px auto;
   }
   .description__row {
       grid-template-columns: repeat(2,1fr);
   }
   .description__block {
       text-align: center;
   }
   .footer__row {
       grid-template-columns: repeat(2, 4fr);
       gap: 20px;
   }
   .footer__block {
       text-align: center;
       margin: 0 auto;
   }
   .footer__group {
       justify-content: center;
   }
}

@media screen and (max-width: 756px) {
    .event__cards {
        grid-template-columns: repeat(1,6fr);
    }
}

@media screen and (max-width: 556px) {
    .content__info {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .intro__title {
        font-size: 40px;
    }
}

@media screen and (max-width: 462px) {
    .thumb__image {
        width: 100%;
    }
    .footer__search {
        width: 100%;
    }
}

@media screen and (max-width: 426px) {
    .footer__row {
        grid-template-columns: repeat(1, 8fr);
    }
    .description__row {
        grid-template-columns: repeat(1,4fr);
    }
    .event__header {
        flex-wrap: wrap;
        justify-content: center;
    }
    .event__title {
        text-align: center;
    }
    .event__link {
        margin-top: 20px;   
    }
    .info__header {
        display: block;
    }
    .info__card {
        flex-wrap: wrap;
        justify-content: center;
    }
    .info__desc {
        margin-left: 0;
    }
}

@media screen and (max-width: 362px) {
    .card__img {
        width: 100%;
    }
    .info__title {
        margin-bottom: 20px;
    }
}